<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\Usuario1\Desktop\DI05_TunelTerror_InstaladorFinal\DI05_TunelTerror-1.0-SNAPSHOT.jar</jar>
  <outfile>C:\Users\Usuario1\Desktop\DI05_TunelTerror_InstaladorFinal\DI05_TunelTerror_App.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\Usuario1\Desktop\DI05_TunelTerror_InstaladorFinal\DI05_TunelTerror_icon.ico</icon>
  <jre>
    <path>mi_jre_ligero</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>17.0.0</minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>